img {
    width: 80px;
    height: auto;
    object-fit: contain;
    transform: translate(var(--x, 0), var(--y, 0));
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  // img:hover {
  //   transform: translate(calc(var(--x, 0) + 10px), calc(var(--y, 0) - 10px)) rotate(15deg);
  //   opacity: 0.7;
  // }
  