@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sidebar-container {
    display: none;
    color: #fff;
    margin-bottom: 150px;

    h1 {
      font-family: 'RixYeoljeongdo_Regular';
    }

    p {
      margin-top: 60px;
      font-size: 14px;
    }

    a {
      color: #fff;

      &:hover {
        color: #edda4f;
      }
    }
  
    @media (min-width: 1024px) {
      display: block;
      width: 100%;
      max-width: 650px;
      height: 100%;
    }
  }
  